{% load crispy_forms_tags %} 
{% block body %}
<h2>Пожалуйста, введите ваши данные:</h2>
{% if form.errors %}
<p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, введите данные повторно.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Вы не имеет доступа к данной странице. </p>
    {% else %}
    <p>Пожалуйста, войдите в систему для просмотра данной страницы.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{form|crispy}}

<input type="submit" value="Войти">
<input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'password_reset' %}">Восстановить пароль?</a></p>

{% endblock %}