{% load crispy_forms_tags %} 
{% block body %}
    <h2>Восстановление пароля</h2>
    {% if validlink %}
        <p>Пожалуйста, введите ваш новый пароль:</p>
        <form action="." method="post">
            {{form|crispy}}
            {% csrf_token %}
            <p><input type="submit" value="Изменить"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, она уже была использована ранее.</p>
        <p>Пожалуйста, запросите повторно <a href="{% url  "password_change" %}"> восстановление пароля</a> .</p>
    {% endif %}
{% endblock %}